/*task 2
 .edit{
    width: 240px;
    height: 270px;
    margin-bottom: 20px;
    
}
.edi{
    width: 420px;
    height: 250px;
    margin-bottom: 40px;
}
.ed{
    width: 300px;
    height: 330px;
    margin-top: 10px;
}
h1{
    color: blueviolet;
    text-align: center;
    font-family: cursive;
    font-size: 5em;
} */



/* task 3
th,td{
    padding-left: 20px;
    padding-bottom: 10px;
} */



/* task 4
.ab{
    width: 700px;
    height: 500px;
} */


/* task 5
h1,.but{
    text-align: center;
} */

/* chap #49-52
    task 1,task 3*/
/* input{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 30px;
}
.form{
    width: 400px;
padding: 40px;
margin-left: 600px;
}
.head{
    color: black;
}
.butt{
  background-color: black;
color: white;
margin-bottom: 5px;
width: 100px;
}
p{
    color: grey;
} 
.dis{
    display: none;
}
.edit{
    padding: 10px;
    border: 2px solid black;
}
.tab{
    margin-left: 450px;
} */




/* chap #52-57
task 1-6
.edit{
    width: 100px;
    height: 100px;
} */